.news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .news-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el tamaño de las columnas según el ancho de pantalla */
    gap: 20px;
    list-style: none;
    padding: 0;
  }
  
  
  .news-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .news-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .news-description {
    font-size: 1rem;
    margin-bottom: 10px;
    max-height: 120px; /* Establece la altura máxima deseada */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .news-link {
    color: #007bff;
    text-decoration: none;
  }
  